/* nav styles */

nav {
    background: rgba(255, 144, 14, 0.1);
    padding-right: 200px;
    margin-left: 180px;
    padding-left: 20px;
}

p {
    overflow-x: hidden;
}

button {
    all: unset;
    cursor: pointer;
    color: #FFF4E7;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-title h2 {
    font-size: 40px;
    margin-top: 40px;
}

.nav-list ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 18px;
}


/* nav styles end*/


/* header style  */

header {
    background: rgba(255, 144, 14, 0.1);
    padding-right: 200px;
    margin-left: 180px;
    padding-left: 20px;
}

.head-title {
    text-align: center;
}

.head-title h1 {
    font-family: 'Work Sans';
    font-size: 64px;
    margin: 0%;
    padding: 0%;
}

.head-title p {
    font-size: 16px;
    color: #727272;
}

.btn-primary {
    width: 120px;
    height: 60px;
    padding: 2px;
    background-color: chocolate;
    border-radius: 5px;
    color: white;
}

.banner img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* header style   end*/


/* features section style  */

.features-section {
    display: flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-right: 200px;
    margin-left: 180px;
    padding-left: 20px;
}

.features-description h2 {
    font-size: 40px;
}

.pic {
    width: 342px;
    height: 342px;
}

.features-description p {
    font-size: 16px;
    color: #727272;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}


/* features section style end */


/* about g3 style */

.about-g3 {
    display: flex;
    gap: 80px;
    margin-top: 50px;
    padding-right: 200px;
    margin-left: 180px;
    padding-left: 20px;
}

.about-g3-title h1 {
    font-size: 45px;
}

.about-g3-title p {
    font-size: 16px;
    color: #727272;
}

.about-g3-pic img {
    width: 350px;
    height: 320px;
}


/* about g3 style end */


/* love and enojoy section  */

.love-and-enjoy {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    padding-right: 200px;
    margin-left: 180px;
    padding-left: 20px;
}

.love-and-enjoy-description h1 {
    font-size: 45px;
    color: #131313;
    border-left: 4px solid chocolate;
    padding-left: 20px;
}

.love-and-enjoy-pic img {
    width: 600px;
    height: 859px;
}

.love-and-enjoy-pic {
    position: relative;
}

.btn {
    width: 170px;
    height: 110px;
    padding: 10px;
    background-color: chocolate;
    border-radius: 10px;
    font-size: 22px;
    position: absolute;
    bottom: -3%;
    left: 0;
}

.love-and-enjoy p {
    font-size: 16px;
    color: #727272;
}

.version,
.builder,
.design,
.edit {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    margin-top: 5px;
    font-size: 15px;
}


/* love and enojoy section end */


/* some facts section style */

.some-facts {
    margin-top: 50px;
    padding-right: 200px;
    margin-left: 180px;
    padding-left: 20px;
}

.some-facts-title h1 {
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
}

.some-facts-title p {
    font-size: 16px;
    color: #727272;
}

.some-facts-description {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
}

.fact {
    text-align: center;
    border: 2px solid chocolate;
    width: 241.83px;
    height: 180px;
    margin-top: 20px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.fact img {
    margin-top: 20px;
}

.fact:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}


/* some facts section style end*/


/* our sponspors section start */

.sponspors {
    text-align: center;
    margin-top: 50px;
    padding-right: 200px;
    margin-left: 180px;
    padding-left: 20px;
}

.sponspors-title {
    text-align: center;
}

.sponspors-title h1 {
    font-size: 45px;
}

.sponspors-title p {
    font-size: 16px;
    color: #727272;
}

.sponspors-logo {
    display: flex;
    gap: 80px;
    margin-top: 50px;
    filter: grayscale(100%)
}

.logo img {
    width: 150.67px;
    height: 35px;
    mix-blend-mode: luminosity;
}


/* our sponspors section end */


/* footer section start */

footer {
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 80px 200px 50px 200px;
    padding: 30px;
}

footer small {
    font-size: 15px;
    color: #424242;
}


/* footer section end */


/* animation */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


/* animation end*/


/* responsive media query for smart phn */

@media screen and (max-width:576px) {
    nav {
        margin-left: 20px;
        padding-right: 0;
    }
    .nav {
        display: block;
        padding-right: 0;
    }
    .nav-list ul {
        display: block;
    }
    .nav-title h2 {
        font-size: 30px;
    }
    .nav-list ul li {
        margin-top: 20px;
    }
    header {
        margin-left: 20px;
        padding-right: 0px;
    }
    .head-title {
        margin-top: -18px;
    }
    .head-title h1 {
        padding-top: 18px;
        font-size: 30px;
    }
    .banner img {
        height: 150px;
        width: 220px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .features-section {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        padding-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .features-img {
        display: flex;
        flex-direction: column;
    }
    .features-description h2 {
        font-size: 26px;
    }
    .pic {
        height: 200px;
        width: 250px;
        margin-top: 5px;
    }
    .about-g3,
    .love-and-enjoy {
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin-left: 30px;
    }
    .about-g3-pic img,
    .love-and-enjoy-pic img {
        height: 200px;
        width: 280px;
    }
    .about-g3-title .about-g3-title h1 {
        font-size: 30px;
    }
    .btn {
        width: 100px;
        height: 100px;
        padding: 10px;
        font-size: 16px;
    }
    .some-facts-title {
        padding: 0 5px 0 5px;
    }
    .some-facts-title h1 {
        font-size: 30px;
    }
    .some-facts,
    .sponspors {
        padding-left: 0;
        padding-right: 0;
        margin-left: 30px;
    }
    .some-facts-description {
        flex-direction: column;
        gap: 10px;
    }
    .sponspors-title h1 {
        font-size: 30px;
    }
    .sponspors-title p {
        font-size: 15px;
    }
    .sponspors-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .logo img {
        width: 100px;
        height: 25px;
    }
    footer {
        padding: 30px;
        margin: 0px;
    }
    footer small {
        font-size: 15px;
        color: #424242;
    }
    .btn-primary {
        height: 40px;
        width: 80px;
        padding: 5px;
    }
}